# sales

In [15]:
import json

fd = open("sales.json",'r')
r = fd.read()
fd.close()

In [16]:
import json
import time
amt_range=str(input("enter the range  1.5000-10000 2.10000-20000 3.20000-30000 4.30000-40000 5.40000-50000 6.50000-100000:"))
cmp=str(input("enter the company: "))
un=int(input("units to purchase: "))
if(un>record1[amt_range][cmp]['units']):
    print("enterd number more than stock")
else:
    print("$$$$$$$$$$$$$")
    print("Amount range",amt_range)
    print("Company name: ", cmp)
    print("Billing Amount: ", record1[amt_range][cmp]['amt'] * un)
    print(time.ctime())
    print("$$$$$$$$$$$$$")
    record1[amt_range][cmp]['units']=record1[amt_range][cmp]['units']-un
    js=json.dumps(record1)
    fd = open("record1.json",'w')
    fd.write(js)
      
    fd.close()
    sales = record1[amt_range][cmp]
    js = json.dumps(sales)
    fd = open("sales.json",'w')

    fd.write(js)

    fd.close()
    print("purchased item is ",sales)

enter the range  1.5000-10000 2.10000-20000 3.20000-30000 4.30000-40000 5.40000-50000 6.50000-100000:30000-40000
enter the company: oppo
units to purchase: 10
$$$$$$$$$$$$$
Amount range 30000-40000
Company name:  oppo
Billing Amount:  387690
Mon Sep  6 21:38:30 2021
$$$$$$$$$$$$$
purchased item is  {'model': 'yt54', 'color': 'pink', 'specs': 6128, 'units': 47, 'amt': 38769}

In [17]:
sales = record1[amt_range][cmp]

In [18]:
import json 
js = json.dumps(sales)
fd = open("sales.json",'w')

fd.write(js)

fd.close()

In [19]:
sales

{'model': 'yt54', 'color': 'pink', 'specs': 6128, 'units': 47, 'amt': 38769}